@import-normalize;

@import "./variables.scss";

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  color: $default-text-color;
}
