@import "../../../../styles/globals";

.nativeInput {
  display: none;
}

.root {
  .customCheckbox {
    width: 15px;
    height: 15px;
    border: solid 2px $gray-300;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

    &,
    & * {
      transition: 0.2s all;
    }

    .checkMark {
      opacity: 0;
      fill: $white;
    }
  }

  &.disabled {
    cursor: not-allowed;

    .customCheckbox {
      border-color: $gray-300;
    }
  }

  .nativeInput:checked ~ .customCheckbox {
    background: $blue-600;
    border-color: $blue-600;

    .checkMark {
      opacity: 1;
    }
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      .nativeInput:not(:checked) ~ .customCheckbox {
        border-color: $gray-600;
      }
    }
  }
}
