@import "../../../styles/globals";

.root {
  display: none;
  background: $white;
  border: 1px solid $gray-200;
  box-sizing: border-box;
  box-shadow: 0 8px 10px rgba(82, 97, 119, 0.16);
  border-radius: 4px;
  overflow: hidden;

  &.open {
    display: block;
  }
}
