@import "../../../../styles/globals";

.root {
  position: relative;
  color: $gray-700;
  font-weight: 500;

  &,
  * {
    transition: 0.2s all;
  }

  .handler,
  .menu {
    border-radius: $input-border-radius;
    border: solid 1px $gray-400;
    background: $white;
  }

  .handler {
    max-width: 100%;
    width: 100%;
    padding: 10px 18px;
    height: $input-height;
    display: flex;
    align-items: center;
    color: $gray-300;
    outline: none;

    .caret {
      min-width: 8px;
      fill: $gray-400;
      margin-left: 16px;
    }

    .text {
      flex: 1 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.hasSelected {
      color: $gray-600;
    }

    &:focus {
      box-shadow: 0 0 0 2px $blue-300;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .option {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    border-bottom: solid 1px transparent;
    outline: none;

    * {
      pointer-events: none;
    }

    &.divider {
      border-bottom-color: $gray-200;
    }

    &:hover,
    &:focus,
    &.selected {
      background: $blue-100;
    }
  }

  &.open {
    .caret {
      transform: rotate(180deg);
    }

    .handler {
      box-shadow: none;
    }
  }

  &.disabled {
    cursor: not-allowed;

    .handler {
      color: $gray-300;
      border-color: $gray-300;

      .caret {
        fill: $gray-200;
      }
    }
  }
}
